.uni-searchbar[data-v-64ee3838]{
	background-color: transparent !important;
}
.uni-searchbar__box[data-v-64ee3838]{
	background-color: #fdfdfd !important;
	border: none !important;
}
.uni-card-section{
	/* background-color: #FFFFFF; */
	padding-bottom: 50px;
}
.icon{
	display: inline-block;
}
.icon-width-12{
	width: 21.6rpx;
	height: 21.6rpx;
}
.icon-width-14{
	width: 25.2rpx;
	height: 25.2rpx;
}
.icon-width-18{
	width: 36rpx;
	height: 36rpx;
}
.uni-card-modular{
	background-color: #FFFFFF; 
}
.icon-width-84{
	width: 84rpx;
	height: 84rpx;
}
/*#ifdef MP*/
	.uni-searchbar.data-v-64ee3838{
		background-color: transparent !important;
	}
	.uni-searchbar__box.data-v-64ee3838{
		background-color: #fdfdfd !important;
		border: none !important;
	}
	.uni-tag.data-v-3f606880{
		padding: 4rpx 8rpx !important;
		height: 25.2rpx !important;
		line-height: 25.2rpx !important;
		margin-right: 10.8rpx !important;
	}
/*#endif*/